body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: powderblue;
}
h1, h2, h3 {
    font-weight: 400;
}
input {
    width: 500px;
}
#output {
    border: 2px solid grey;
    padding: 50px;
}
a {
    color: blue;
}
