body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #d0f6ff;
    text-align: center;
}
h1, h2, h3 {
    font-weight: 400;
}
input:focus{
    outline: 1px solid blue;
}
#output {
    display: none;
    padding: 18px;
}
a {
    color: blue;
}
